html, * {
    /* font-family: helvetica; */
    box-sizing: border-box;
}

body {
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3ec8bf4c-abf7-4a2b-ae45-78274f23ee5d/d9z4jkb-d4f3b3a3-77af-4f03-a8fb-f696837c1102.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNlYzhiZjRjLWFiZjctNGEyYi1hZTQ1LTc4Mjc0ZjIzZWU1ZFwvZDl6NGprYi1kNGYzYjNhMy03N2FmLTRmMDMtYThmYi1mNjk2ODM3YzExMDIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.odSltANvHNH1jEaTZ00QNXdBYyE9MZnLjAaH_IdFltM)
}

header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "inst title";
    }
    
    header > h1 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 6.5vh;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
    grid-area: title;
    margin: 0;
}


div.card {
    height: 34vh;
    width: 25vh;
}

div.war {
    height: 16vh;
    width: 25vh;
}

main {
    display: grid;
    grid-template-columns: 22vmin 62vmin 10vmin;
    grid-template-rows: 40vh 40vh 5vh;
    grid-template-areas: 
        "play2 card2 cwin"
        "play1 card1 pwin"
        "ctr btn btn";
    }
    
div.play2 {
    grid-area: play2;
    display: flex;
    border: 5px solid transparent;
    background-color: rgba(138, 109, 77, 0.5);
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
}

div.play1 {
    grid-area: play1;
    border: 5px solid transparent;
    background-color: rgba(138, 109, 77, 0.5);
    border-radius: 7px;
    display: flex;
    font-family: 'Allerta Stencil', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
}

div.playcard2 {
    grid-area: card2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.playcard1 {
    grid-area: card1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.btns {
    grid-area: btn;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7px;

}

div.ctr {
    align-items: center;
    display: flex;
    font-family: 'Saira Stencil One', cursive;
    font-size: 30px;
    justify-content: center;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
}

.play2 h2, .play1 h2 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 4vh;
    margin: 0;
    color: black;
}

.play2 h3, .play1 h3 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 3vh;
    margin-top: 4vh;
    margin-bottom: 0;
    color: black;
    
}

.play2 h1, .play1 h1 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 8vh;
    margin-top: 0;
    color: black;
}

button {
    border: 2px dashed black;
    grid-column: 2/3;
    width: 15vw;
    background: #907D63;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2.7vh;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.76); 
    box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.76);
}

button:hover {
    background-color: #C6BCB2;
}

#playerWin {
    grid-area: pwin;
    font-family: 'Saira Stencil One', cursive;
    font-size: 9.5vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
}

#compWin {
    grid-area: cwin;
    font-family: 'Saira Stencil One', cursive;
    font-size: 9.5vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
}

.slider-container {
    grid-area: inst;
    justify-content: center;
    align-items: center;
    margin: 5vh 5.4vh 0 0;
}

.slider-container .slider-parent {  
    height: 80vh;
    max-width: 750px;
    width: 100%;
    background: #C6BCB2;
    position: absolute;    
    left: -750px;
    top: 100px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all linear;
    padding: 10px;
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase;
    
}   

.slider-container .slider-parent.active {      visibility: visible; 
    pointer-events: inherit;     
    transition: .2s all ease-in-out;   opacity: 1;      
    left: 0; 
}

.slider-container a {
    text-decoration: none;
    font-family: 'Saira Stencil One', cursive;
    color: black;
    text-shadow: -1px 2px 4px rgba(255,255,255,0.88);
    font-size: 3vh;
}

a:hover {
    text-decoration: underline;
}

.slider-parent > h1 {
    font-size: 5vh;
    margin: 0 auto;
}

.slider-parent > h4 {
    font-size: 3vh;
    margin-top: 1px;
}

.slider-parent > p {
    font-size: 2.4vh;
}

p span.yes {
    color: red;
    font-size: 3vh;
}

p span.fun {
    color: white;
    font-size: 2.7vh;
}

p img {
    height: 14vh;
}