html, * {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header {
    background-color: rebeccapurple;
}

footer {
    background-color: blue;
} */

div.card {
    height: 34vh;
    width: 25vh;
}

main {
    display: grid;
    grid-template-columns: 22vmin 62vmin;
    grid-template-rows: 40vh 40vh 5vh;
    grid-template-areas: 
        "play2 card2"
        "play1 card1"
        "btn btn";
    }
    
div.play2 {
    grid-area: play2;
    display: flex;
    border: 5px solid white;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.play1 {
    grid-area: play1;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div.playcard2 {
    grid-area: card2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.playcard1 {
    grid-area: card1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.btns {
    grid-area: btn;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
